<script>
    // @ts-nocheck
    
        import {supabase} from '$lib/supabaseClient'
        import {readable, get} from 'svelte/store'
      
        /**
         * @type {unknown}
         */
         export let id
        /**
         * @type {any}
         */
         export let namech
        /**
         * @type {any}
         */
         export let content
    
         export let name
      
        // @ts-ignore
        async function addComment({target}) {
          const formData = new FormData(target)
      
          const {data, error} = await supabase
            .from('comments')
            .insert({
              content: formData.get('comment'),
              name: formData.get('names'),
              channel: id
            })
        }
      
        const comments = readable(null, (set) => {
          supabase
            .from('comments')
            .select('*')
            .filter('channel','eq', id)
            // @ts-ignore
            .then(({error, data}) => set(data))
      
          // add subscription to supabase logic
          const subscription = 
            supabase
                .channel('comments:channel=eq.' + id)
                .on('postgres_changes',{ event: '*', schema: '*' }, (payload) => {
                    if (payload.eventType === 'INSERT') {
                    // @ts-ignore
                    set([...get(comments), payload.new])
                }
                })
                .subscribe()
                return () => supabase.removeChannel(subscription)
        })
      </script>
      
    <div class="card w-156 m-28 p-10 bg-cyan-500 bordered">
        <div class="card-body">
            <div class="flex m-0">
          <a href="/"><button class="btn btn-primary">Back</button></a>
        </div>
            <div class="flex">
          <h1 class="card-title -mt-1 text-2xl font-bold">{namech}</h1> <p class="ml-2 mt-1 text-slate-500">#{id}</p>
        </div>
        {#if $comments}
        {#each $comments as contenta}
        <br>
        <div class="chat chat-start">
            <div class="chat-bubble"><span class="text-lg text-blue-700">{contenta.name}</span> -                              {contenta.content} {contenta.created_at[11]}{contenta.created_at[12]}:{contenta.created_at[14]}{contenta.created_at[15]}&nbsp;&nbsp;&nbsp;{contenta.created_at[8]}{contenta.created_at[9]}-{contenta.created_at[5]}{contenta.created_at[6]}-{contenta.created_at[2]}{contenta.created_at[3]}</div>
        </div>
 
{/each}
{/if}

<form on:submit|preventDefault={addComment}>
        <div class="flex m-5" >
            <input type="text" name="names" placeholder="Name" class="input input-bordered input-primary w-20 max-w-xs"  />
            <input type="text" name="comment" placeholder="Type here" class="input input-bordered input-primary w-full max-w-xs" />
            <button class="btn btn-info" >Send</button>
        </div>
    
</form>


</div>
</div>




     