<script>
    // @ts-nocheck
    
        import {supabase} from '$lib/supabaseClient'
        import {readable, get} from 'svelte/store'  
        import Post from '$lib/Post.svelte';
      
        /**
         * @param {{ target: HTMLFormElement | undefined; }} e
         */
        async function addPost(e) {
          const formData = new FormData(e.target)
          const {data, error} = await supabase
            .from('channels')
            .insert({
              namech: formData.get('namech')
            })
        }
      
        const channels = readable(null, (set) => {
          supabase
            .from('channels')
            .select('*')
            // @ts-ignore
            .then(({error, data}) => set(data))
      
          // add subscription to supabase logic
          const subscription = 
            supabase
                .channel('channels')
                .on('postgres_changes',{ event: 'INSERT', schema: '*' }, payload => {
                    // @ts-ignore
                    set([...get(channels), payload.new])
                })
                .subscribe()
                return () => supabase.removeChannel(subscription)
        })
      </script>
      
      <div class="container mx-auto p-8 ml-60 max-w-full">
	<label for="my-modal-6" class="btn btn-secondary">Create your Channel</label>
    <form on:submit|preventDefault={addPost}>
	<input type="checkbox" id="my-modal-6" class="modal-toggle" />
	<div class="modal modal-bottom sm:modal-middle">
		<div class="modal-box">
			<h1 class="text-xl">What Your Channel Dude ???</h1>
			<input
				type="text"
				placeholder="your channel name bro..."
				class="input input-bordered input-info w-full max-w-xs mt-5"
				name="namech"
			/><br />
			
			<div class="modal-action">
				<button class="p-2 px-16 mt-5 bg-blue-500 rounded text-white" >Create
                    </button>
                    
				<label for="my-modal-6" class="btn mt-5">Close!</label>
			</div>
		</div>
    </div>
    </form>

<div class="w-3/5 mt-10">
		<h1 class="text-3xl	text-bold mb-5">My Channel Thiwscord</h1>
		<!-- <input bind:value={searchText} class="p-2 m-2 border rounded" placeholder="Title to search" /> -->
		{#if $channels}
			{#each $channels as post}
				<div class="card w-116 bg-amber-300 text-primary-content mb-10">
					<div class="card-body flex-auto">
						<a href="/channel/{post.id}">
							<h2 class="card-title">{post.namech}</h2>
                        </a>
						</div>
					</div>
                    {/each}
        {/if}
	</div>
</div>



